<div id="formulaire-ajout">
    <form [formGroup] ="addForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title">Titre du Snap</label>
            <input type="text" id="title" class="form-control" formControlName="title">
        </div>
        <div class="form-group">
            <label for="imageUrl">Url de l'image</label>
            <input type="text" id="imageUrl" class="form-control" formControlName="imageUrl">
        </div>
        <div class="form-group">
            <label for="createdDate">Date de la prise de vue</label>
            <input type="text" id="createdDate" class="form-control" formControlName="createdDate">
        </div>
        <div class="form-group">
            <label for="location">Lieu de la prise de vue</label>
            <input type="text" id="location" class="form-control" formControlName="location">
        </div>
        <button type="submit">Enregistrer</button>
    </form>

    <a routerLink="/facesnaps">Back</a>
    
</div>